@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*  Cart Icon  */
.box {
    color: rgb(69, 12, 239);
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}

.cart-count {
    position: absolute;
    background-color: #fc0fa9;
    top: -18px;
    left: 15px;
    text-align: center;
    /* padding: 3px; */
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}

/* NavBar Cart   */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
}

/* Cart active Using Js  */
.cart-active {
    right: 0;
    transition: 0.5s;
}

/*     Cart Iems Pages Decoration  */
.cart-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

/* cart box js La use Panra class */
.cart-box {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

/*  Cart Img - Cart Item oda size  */
.cart-box img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.detail-box {
    display: grid;
    row-gap: 8px;
}

.price-box {
    display: flex;
    justify-content: space-between;
}

.cart-food-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #ff6348;
    font-weight: 500;
}

.cart-price {
    font-weight: 400;
}

/* cross Icon clicking option using js */
.cart-remove {
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: end;
    margin-top: 32px;
}

.total-title {
    font-size: 16px;
    font-weight: 600;
}

.total-price {
    margin-left: 8px;
}

.cart-quantity {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: 38px;
    text-align: center;
    font-size: 16px;
}

.btn-buy {
    padding: 12px 20px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 16px;
    right: 12px;
    font-size: 32px;
}

/*      ------ Images Start --------- */
.card img{
    height: 100%;
}